apiVersion: apps/v1
kind: Deployment
metadata:
  name: billing-app
  namespace: demo
spec:
  replicas: 1
  selector:
    matchLabels:
      app: billing
  template:
    metadata:
      labels:
        app: billing
    spec:
      containers:
        - name: billing
          image: vdeshpande304/onion-app:1.0
          ports:
            - containerPort: 8080